// Write your styles here

@mixin button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  background-color: $main-color;
  color: $white-color;
  border: none;
  text-transform: uppercase;
  font-family: $main-font-family;
  font-size: $normal-font-size;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
ul,
li,
a,
h1,
h2,
h3,
h4,
p,
input {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.header {
  background:url(../img/header_background_v1.jpg) no-repeat center / cover;
  height: 100vh;

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 15%;
  }

  &__img {
    width: 100%;
  }

  &__center {
    position: relative;
    top: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $main-font-family;
  }

  &__title {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: $white-color;
    font-size: $main-font-size;
  }

  &__button {
    @include button;
  }
}

.nav {
  width: 58%;
  &__list {
    display: flex;
    font-family: $main-font-family;
    font-size: $normal-font-size;
    font-weight: 600;
  }

  &__item {
    width: 33.33%;
    text-align: center;
    text-transform: uppercase;
    border-right: 2px solid $borders-color;

    &:last-child {
      border: none;
    }
  }

  &__link {
    display: block;
    padding: 20px;
    color: $white-color;
  }
}

.main {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;

  &__toolbar {
    display: flex;
    justify-content: flex-end;
  }

  &__search-input {
    height: 35px;
    padding: 5px 20px;
    border: 1px solid $borders-color;

    &::placeholder {
      color: black;
    }
  }

  &__title {
    margin-top: 15px;
    text-align: end;
    text-transform: uppercase;
    font-family: $main-font-family;
    font-size: $main-font-size;
  }
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.article {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  background: #efefef;
  font-family: $main-font-family;

  &__post {
    padding: 10px;
  }

  &__post-date {
    padding: 0 0 10px 5px;
    border-bottom: 1px solid $borders-color;
    color: red;
    font-size: $normal-font-size;
  }

  &__post-title {
    padding: 5px 0;
    text-transform: uppercase;
    color: $main-color;
  }

  &__post-description {
    margin-bottom: 35px;
    font-size: $normal-font-size;
    line-height: $text-line-height;
  }

  &__post-button {
    @include button;
  }
}

.about-us {
  margin-top: 50px;
  font-family: $main-font-family;

  &__title {
    text-align: end;
    text-transform: uppercase;
    font-size: $main-font-size;
  }

  &__text {
    margin-bottom: 20px;
    font-size: $normal-font-size;
    line-height: $text-line-height;
  }

  &__img {
    width: 100%;
  }
}

.contact-form {
  margin-top: 50px;
  font-family: $main-font-family;
  text-align: end;

  &__title {
    font-style: $main-font-size;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: $normal-font-size;
    text-transform: uppercase;
  }
}

.form {
  margin: 25px 0;
  font-size: $normal-font-size;
  line-height: $text-line-height;
  color: $main-color;

  &__user-data {
    display: flex;
    margin-bottom: 20px;
  }

  &__user-name,
  &__user-email,
  &__user-message {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__user-name {
    margin-right: 10px;
  }

  &__input {
    height: 50px;
    border: 1px solid $borders-color;
  }

  &__user-message {
    margin-bottom: 20px;
  }

  &__user-text {
    height: 100px;
    border: 1px solid $borders-color;
    resize: none;
  }

  &__button {
    @include button;
  }
}

.footer {
  padding: 20px;
  font-size: $normal-font-size;
  font-family: $main-font-family;
}